* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.hero {
  width: 100%;
  display: none;
  background: #000000 url(../image/8-layers.jpg) repeat-x;
  padding-bottom: 480px;
  -webkit-box-shadow: inset 0px 140px 60px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 140px 60px rgba(0, 0, 0, 0.3);
}

@media (min-width: 750px) {
  .hero {
    display: block;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-menu {
  width: 630px;
  margin: auto;
  display: none;
  min-height: 60px;
}

@media (min-width: 640px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100px;
  }
}

.nav-item {
  color: #2e2e2e;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  /* Text style for "Menu" */
  letter-spacing: 2px;
}

.instagram {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

@media (min-width: 750px) {
  .instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.instagram-text {
  color: #ffffff;
  font-family: 'Proxima Nova Semibold';
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
}

.nav-button {
  background-color: transparent;
  border: none;
  height: 60px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-button-line {
  width: 20px;
  height: 3px;
  background-color: #000;
  margin: 2px 0;
}

@media (min-width: 640px) {
  .nav-button {
    display: none;
  }
}

.hotdog {
  background-color: #fbfafa;
}

.hotdog-wrapper {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 110px;
}

@media (min-width: 680px) {
  .hotdog-wrapper {
    width: 670px;
  }
}

@media (min-width: 855px) {
  .hotdog-wrapper {
    width: 845px;
  }
}

.hotdog-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hotdog-title h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -2.24px;
  color: #555559;
  opacity: 0.7;
}

@media (min-width: 680px) {
  .hotdog-title h1 {
    font-size: 34px;
  }
}

@media (min-width: 855px) {
  .hotdog-title h1 {
    font-size: 56px;
  }
}

.moreDogsButton {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.8px;
  width: 260px;
  border: none;
  border-radius: 6px;
  background-color: #286782;
  padding-top: 16px;
  padding-bottom: 12px;
  margin-top: 40px;
  margin-bottom: 70px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.moreDogsButton:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 680px) {
  .moreDogsButton {
    width: 290px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-top: 70px;
    margin-bottom: 170p;
  }
}

@media (min-width: 855px) {
  .moreDogsButton {
    width: 310px;
  }
}

.example-hotdog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.example-hotdog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.example-hotdog-item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.item-img img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item-desc {
  margin-top: 215px;
  margin-left: 130px;
  margin-right: 150px;
  width: 440px;
}

.item-desc-title {
  color: #555559;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
  position: relative;
}

.item-desc-title::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  width: 31px;
  height: 2px;
  background-color: #84959c;
}

.item-desc-text {
  color: #555559;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.72px;
  margin-top: 25px;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */