.header
    width: 100%
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25)
    position: relative
.hero
    width: 100%
    background: #000000 url(../image/8-layers.jpg) repeat-x
    padding-bottom: 480px
    box-shadow: inset 0px 140px 60px rgba(0,0,0,0.3)
.nav
    width: 630px
    margin: auto
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 100px
.nav-item
    color: #2e2e2e
    font-size: 20px
    font-weight: 600
    text-transform: uppercase
    /* Text style for "Menu" */
    letter-spacing: 2px
.instagram
    position: absolute
    top: 15px
    right: 15px
    display: flex
.instagram-text
    color: #ffffff
    +proximaBold
    font-size: 15px
    font-weight: 400
    letter-spacing: 0.38px